mainnet/config/config.tar.gz
demos/golang_demos/keystore_convert.tar.gz
demos/nodejs_demos/node_modules
demos/golang_demos/keystore_convert
./.vscode
demos/java_demos/target
demos/java_demos/.classpath
demos/java_demos/.project
demos/java_demos/.settings

demos/python_demos/.idea
demos/python_demos/.vscode
demos/python_demos/tools